PORT=5002
BASE_URL=
JWT_SECRET=f
MONGO_URI=
REWARD_INCREMENT=8,
BACKEND_AUTHORITY_PRIVATE_KEY=
PROGRAM_ID=
TELEGRAM_BOT_TOKEN=
WEBHOOK_BASE_URL=
SOLANA_TREASURY_WALLET=
BREEZO_TOKEN_MINT=
AI_PROVIDER=
AI_BASE_URL=
AI_MODEL=
AI_API_KEY=
